{% extends 'base.html.twig' %}


        {% block body %}
            <div id="root"></div>
        {% endblock %}
    
        {% block javascript %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
  